/* Source of the folding cube animation: https://github.com/tobiasahlin/SpinKit/ */
/* Source of the snowflakes animation:https://codepen.io/iautomation/pen/VYexBz */

.loading {
    background-color: #ccc;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: 0.9;
}


.sk-folding-cube {
  position:absolute;
  left:50%;
  margin-left:-20px;
  top:50%;
  margin-top:-20px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #325e82;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.snowflakes {
	width: 100%; height: 1200px;
	position: absolute; top: -90px; left: 0;
}

i, i:after, i:before { background: white; }
i {
	display: inline-block;
	-webkit-animation: snowflakes 3s linear 2s 20;
	-moz-animation: snowflakes 3s linear 2s 20;
	position: relative;
}
i:after, i:before {
	height: 100%;
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(120deg);
}
i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		-webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}

/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}
