.x.axis {
    stroke:black;
    fill: none;
}

.y.axis {
    stroke:black;
    fill: none;
}

.axis text {
    stroke: none;
    fill: #333;
}

.plot {
    stroke: blue;
    fill: none;
}

.timeLine {
    stroke:blue;
    stroke-width:2px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.sidebar {
    position:fixed;
    top: 10px;
    left: 10px;
}

.lv-map {
    width: 100%;
    height: 600px;
}

.leaflet-canvas-layer {
    opacity: 0.8;
}

.leaflet-clickable, .leaflet-container {
    cursor: crosshair;
}
