body {
    padding-top: 100px;
    padding-bottom: 70px;
}

.nav > li > a {
    padding: 6px 12px;
}

.lv-container-dynamic {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .lv-container-dynamic {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .lv-container-dynamic {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .lv-container-dynamic {
        width: auto;
        padding-right: 80px;
        padding-left: 80px;
    }

    .lv-extra-padding {
        padding-right: 35px;
        padding-left: 35px;
    }
}

.lv-scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.lv-divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #777;
    border-left: 1px solid #777;
}

.lv-navbar-margin {
    margin-right: 15px;
}

.lv-navbar-text-inline {
    display: inline-block;
}

.lv-navbar-small-buttons {
    margin-bottom: 8px;
}

.lv-timeslider {
    overflow: auto;
}

.lv-timeslider input {
    margin: 15px 0;
}

.lv-no-margin {
    margin: 0;
}

.lv-map {
    display: block;
    width: 100%;
    height: 0;
    /* padding-bottom 66% sets height to 66% of width, see http://stackoverflow.com/a/13625843/1805388 */
    padding-bottom: 66%;
}

.lv-img-overlay {
    width: 20%;
    position: absolute;
    z-index: 401;
    bottom: 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.leaflet-tile-pane {
    opacity: 0.5;
}

.leaflet-canvas-layer {
    opacity: 0.9;
    transform-origin: 50% 50%;
}

.leaflet-clickable,
.leaflet-container {
    cursor: crosshair;
}

.chart-axis path,
.chart-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chart-data {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chart-vertical-line {
    stroke: gray;
    stroke-width: 2px;
}
