
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
    if(typeof(DEV_ENV) == "undefined") {
        function requireOnce(url) {    
            if (!$("script[src='" + url + "']").length) {
                $('head').append("\<script src='" + url + "'\>\<\/script\>");
            }
        }

        $('head').append("<link rel='stylesheet' href='/files/content/sites/aphys/files/MeteoLac/css/style.min.css'></link>");

        requireOnce("//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js");
        requireOnce("//cdnjs.cloudflare.com/ajax/libs/pixi.js/2.2.5/pixi.js");

        // Deferred bootstrapping of angular. 
        // This is just because this file may be included in a root (index.html) file,
        // to test in a development environment.
        $.getScript("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.js", function() {
            $.getScript("/files/content/sites/aphys/files/MeteoLac/code.min.js", function() {
                angular.bootstrap($("#bootstrap"), ["app"]);
            });
        });
    }
</script>

<div ng-app="app" id="bootstrap" class="container" style="margin-bottom:20px">
    <div class="row" style="margin-left:50px;margin-right:50px">
        <div class="row">
            <div class="col-lg-12" ng-controller="timeCtrl">
                <!-- Side toolbar to display when the normal time tools are hidden -->
                <div class="sidebar">
                    <div class="btn-group-vertical" role="group">
                        <button type="button" class="btn btn-default" ng-click="backward()"><span class="glyphicon glyphicon-step-backward"></span></button>
                        <button id="playButton" type="button" class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-play"></span></button>
                        <button type="button" class="btn btn-default" ng-click="playAll()"><span class="glyphicon glyphicon-forward"></span></button>
                        <button type="button" class="btn btn-default" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button>
                        <button type="button" class="btn btn-default" ng-click="forward()"><span class="glyphicon glyphicon-step-forward"></span></button>
                    </div>
                </div>

                <h2>Time: <small ng-bind="getTime()"></small></h2>
                
                <div class="row">
                    <div class="col-lg-12" id="timeControls">
                        <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ "Year " + SelectedYear + " " }}<span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li ng-repeat="year in Years"><a href="#" ng-click="ChangeYear(year)">{{ year }}</a></li>
                            </ul>
                        </div>                            
                        <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ "Week " + SelectedWeek + " " }}<span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li ng-repeat="week in Weeks"><a href="#" ng-click="ChangeWeek(week)">{{ "Week " + week + " (" + PrettyPrintWeek(week) + ")" }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <input type="range" ng-model="Time.tIndex" min="0" max="{{ Time.nT - 1 }}" style="margin:10px">

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="backward()"><span class="glyphicon glyphicon-step-backward"></span></button>
                    <button id="playButton" type="button" class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-play"></span></button>
                    <button type="button" class="btn btn-default" ng-click="playAll()"><span class="glyphicon glyphicon-forward"></span></button>
                    <button type="button" class="btn btn-default" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button>
                    <button type="button" class="btn btn-default" ng-click="forward()"><span class="glyphicon glyphicon-step-forward"></span></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" ng-controller="temperatureCtrl">
                <h2>TEMPERATURE</h2>

                <div id="tempContainer" class="col-lg-12">
                    <!-- WebGL container will be created here -->
                </div>
                <div id="tempLegend" class="col-lg-12"></div>

                <div class="col-lg-12">
                    <div class="row" id="tempPlot">
                        <h5><button class="close" type="button" ng-click="Chart.Close()">x</button>TEMPERATURE OVER TIME (&deg;C)</h5>
                        <div class="col-lg-6" style="width:100%; height:25%">
                            <!-- SVG Plot for temperature over time will be created here -->
                        </div>
                    </div>

                    <div class="row">
                        <span class="label label-info">{{ "X: " + tData.Data[pointIndex].x + " km" }}</span>
                        <span class="label label-info">{{ "Y: " + tData.Data[pointIndex].y + " km" }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" ng-controller="velocityCtrl">
                <h2>VELOCITY</h2>
                <div id="velContainer" class="col-lg-12">
                    <!-- WebGL container will be created here -->
                </div>
                <div id="velLegend" class="col-lg-12"></div>


                <div class="col-lg-12">
                    <div class="row" id="velPlot">
                        <h5><button class="close" type="button" ng-click="Chart.Close()">x</button>VELOCITY OVER TIME (m/s)</h5>
                        <div class="col-lg-6" style="width:100%; height:25%">
                            <!-- SVG Plot for velocity over time will be created here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>