<div ng-controller="TimeCtrl" ng-init="init('available_data')">
    <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container">

           <div class="visible-xs-block lv-navbar-small-buttons">
               <div class="pull-left">
                   <img src="img/coresim.png" style="width:35px;height:41px;margin:10px">
                   <h4 style="display:inline">3D Hydrodynamics</h4>
               </div>
               <div class="pull-right lv-controls-xs">
                   <div class="navbar-text"><strong><div style="font-size:60%" ng-bind="getDate()"></div><div style="font-size:130%" ng-bind="getTime()"></div></strong></div>
                   <button type="button" class="btn btn-default navbar-btn" ng-click="play()"><span class="glyphicon" ng-class="{'glyphicon-play': !isPlaying, 'glyphicon-pause': isPlaying}"></span></button>
               </div>
               <div class="btn-group btn-group-justified">
                   <div class="btn-group btn-group-sm">
                       <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                           {{ index[selection.lake].name }}
                           <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu lv-scrollable-menu">
                           <li ng-repeat="lake in index">
                               <a ng-click="ChangeLake($index)">{{ lake.name }}</a>
                           </li>
                       </ul>
                   </div>
                   <div class="btn-group btn-group-sm">
                       <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                           {{ "Year " + selection.year }}
                           <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu lv-scrollable-menu" role="menu">
                           <li ng-repeat="year in index[selection.lake].years">
                               <a ng-click="ChangeYear(year)">{{ year }}</a>
                           </li>
                       </ul>
                   </div>
                   <div class="btn-group btn-group-sm">
                       <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                           {{ "Week " + selection.week }}
                           <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu dropdown-menu-right lv-scrollable-menu" role="menu">
                           <li ng-repeat="week in index[selection.lake].data.get(selection.year)">
                               <a ng-click="ChangeWeek(week)">{{ PrettyPrintWeek(week) }}</a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>

           <div class="hidden-xs">
               <div class="pull-left">
                   <img src="img/coresim.png" class="lv-navbar-logo">
               </div>
               <div class="btn-group"><a class="navbar-brand" href="#!/hydro">3D Hydrodynamics</a></div>
               <div class="btn-group navbar-btn">
                   <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                       {{ index[selection.lake].name }}
                       <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu lv-scrollable-menu">
                       <li ng-repeat="lake in index">
                           <a ng-click="ChangeLake($index)">{{ lake.name }}</a>
                       </li>
                   </ul>
               </div>
               <div class="btn-group navbar-btn">
                   <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                       {{ "Year " + selection.year }}
                       <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu lv-scrollable-menu" role="menu">
                       <li ng-repeat="year in index[selection.lake].years | orderBy:'-'">
                           <a ng-click="ChangeYear(year)">{{ year }}</a>
                       </li>
                   </ul>
               </div>
               <div class="btn-group navbar-btn">
                   <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                       {{ "Week " + selection.week }}
                       <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu lv-scrollable-menu" role="menu">
                       <li ng-repeat="week in index[selection.lake].data.get(selection.year) | orderBy:'-'">
                           <a ng-click="ChangeWeek(week)">{{ PrettyPrintWeek(week) }}</a>
                       </li>
                   </ul>
               </div>
               <div class="navbar-right">
                   <div class="btn-group lv-navbar-margin">
                       <button type="button" class="btn btn-default navbar-btn lv-slower" ng-click="slower()"><span class="glyphicon glyphicon-backward"></span></button>
                       <button type="button" class="btn btn-default navbar-btn" ng-click="play()"><span class="glyphicon" ng-class="{'glyphicon-play': !isPlaying, 'glyphicon-pause': isPlaying}"></span></button>
                       <button type="button" class="btn btn-default navbar-btn lv-faster" ng-click="faster()"><span class="glyphicon glyphicon-forward"></span></button>
                       <button type="button" class="btn btn-default navbar-btn" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button>
                   </div>
               </div>

               <div>
                   <div class="btn-group pull-left lv-navbar-margin">
                       <button type="button" class="btn btn-default navbar-btn" ng-click="backward()"><span class="glyphicon glyphicon-step-backward"></span></button>
                       <button type="button" class="btn btn-default navbar-btn" ng-click="forward()"><span class="glyphicon glyphicon-step-forward"></span></button>
                   </div>
                   <div class="navbar-right"><p class="navbar-text"><strong>Date: <span ng-bind="getDate()"></span><span class="lv-divider-vertical"></span>Time: <span ng-bind="getTime()"></span></strong></p></div>
                   <div class="lv-timeslider">
                       <input type="range" ng-model="Time.tIndex" min="0" max="{{ Time.nSteps - 1 }}">
                   </div>
               </div>
           </div>
       </div>
    </nav>
    <div class="lv-main-content">
       <div class="lv-container-dynamic">
           <div class="row">
               <div class="col-sm-12 col-lg-6 lv-extra-padding">
                   <div>
                       <h3>Temperature</h3>
                   </div>

                   <lake-view var="temperature" legend-var="Temperature (&deg;C)" type="value" has-transects="true">
                       <lake-icon src="img/stats.png" lat="46.45839177832672" lng="6.399359513724266" width="26" height="25" anchor-left="0" anchor-top="24" popup-left="12" popup-top="-27"><a href="#!/insitu">Buchillon field station</a></lake-icon>
                       <lake-icon src="img/satellite.png" lat="46.26181" lng="6.61576" width="50" height="50" anchor-left="25" anchor-top="25" popup-left="5" popup-top="-24"><a href="#!/remote">Validation by Remote Sensing</a></lake-icon>
                   </lake-view>
               </div>

               <div class="col-sm-12 col-lg-6 lv-extra-padding">
                   <h3>Water Velocity</h3>

                   <lake-view var="velocity" legend-var="Depth Averaged Velocity (m/s)" type="vector" has-transects="false"></lake-view>
               </div>
           </div>
       </div>
    </div>
</div>
